<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.nwpu.dao.AirCraftMapper">
<resultMap id="BaseResultMap" type="cn.edu.nwpu.pojo.AirCraft">
    <constructor>
        <idArg column="id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <arg column="category" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="type" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="operatorcountry" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="operatorservice" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="yearcommissioned" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="yeardecommissioned" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="length" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="span" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="height" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="weightempty" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="weightmax" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="weightpayload" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="crew" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="agility" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="climbrate" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="oodacycle" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="totalendurance" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="physicalsizecode" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <arg column="runwaylengthcode" javaType="java.lang.String" jdbcType="VARCHAR"/>
    </constructor>
</resultMap>
<select id="selectAll" resultMap="BaseResultMap">
    SELECT * FROM dataaircraft
</select>
</mapper>